*{
  list-style-type: none;
}
p{
  padding: 0;
  margin: 0 ;
}
body{
  background-color: #F6F7F8;
}
.SectionsBody{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.navbarStyle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white ;
  padding: 0 24px;
  border-radius: 50px;
  margin-bottom: 16px;
}
.listItem{
  padding: 12px 0px;
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: white;
}
.listmenu{
  display: flex;
  /* gap: 6px; */
  justify-content: space-around;
}
.listmenu li{
  display: flex;
  gap: 6px;
  padding: 11px 16px;
  border-radius: 30px;
  font-weight: 500;
}
.listmenu li:hover{
  background-color: aquamarine;
}
.setting{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.setting .vertical{
  height: 60px;
  background-color: rgb(198, 190, 190);
  width: 1px;
}
.settingBox{
  display: flex;
  gap: 16px;
}